// .main {
//   margin-top: 170px;
//   max-width: 1192px;
// }
.Image {
  z-index: 0;
  height: 500px;

  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // position: relative;
}

.landingText {
  padding-top: 80px;
  padding-left: 20px;

  font-size: 2rem;
  position: relative;
  z-index: 1;
  color: rgb(255, 255, 255);
}
