// .main {
//   background-color: black;
//   height: 100%;
// }
.main {
  min-height: 100vh;
  background-color: black;
}
.productsContainer {
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: center;
  padding: 40px;
  gap: 100px;
}

.titel {
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  background-color: black;

  padding-top: 140px;
}
